<%= form_for(@cupnoodle) do |f| %>
  <% if @cupnoodle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cupnoodle.errors.count, "error") %> prohibited this cupnoodle from being saved:</h2>

      <ul>
      <% @cupnoodle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :review %><br>
    <%= f.text_field :review %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
