<h1>Listing cupnoodles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Review</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cupnoodles.each do |cupnoodle| %>
      <tr>
        <td><%= cupnoodle.name %></td>
        <td><%= cupnoodle.review %></td>
        <td><%= cupnoodle.user_id %></td>
        <td><%= link_to 'Show', cupnoodle %></td>
        <td><%= link_to 'Edit', edit_cupnoodle_path(cupnoodle) %></td>
        <td><%= link_to 'Destroy', cupnoodle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cupnoodle', new_cupnoodle_path %>
